# Node.js
node_modules/
npm-debug.log
yarn-error.log

# dotenv
.env

# MongoDB
.mongodbdump/

# Logs
logs
*.log
*.log.*

# OS-specific
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build files
/dist
/build
